@using MMUserContext.Entities
@model IEnumerable<MMUserContext.Entities.MixRequest>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
    <body data-bind="with: admin" class="body-content admin-body" >
       
        <h1 data-bind="text: header"></h1>
        <div class="admin-request-list">
            <ul class="list-group" data-bind="foreach: requests">
                
                <li class="list-group-item ">
                    <span data-bind="text: $parent.getFormattedDate(EntryTime)"></span>

                    <a class="btn"><span data-bind="text: Title + ' | ' + ClientName">

                                   </span>
                    </a>   <span class="badge" data-bind="text: Id"></span>
                </li>
                
            </ul>
        </div>
   
    </body>
@section Scripts{
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/app")
}
</html>
