<!-- ko with: home -->


<h1>Online Music Mixing and Mastering Services</h1>
<div id="info-container" class="informative">
    <img class="img-thumbnail" src="/images/info-art.png" width="350" height="263" alt="meter masters" />
    <h2 id="info-header"></h2>
    <hr />
    <div id="moreInfo">


    </div>
</div>

<div id="main-content">
    <div id="engineers" class="bigmessage">
        <img class="img-thumbnail col-lg-4 col-md-4 col-sm-6 " src="/images/console1.png" />
        <h1 class="col-lg-8">(e)Mixes That Sizzle!</h1>

        <p class="lead col-lg-8">Get your Beats/Songs/Instrumentals mixed to Industry specifications by Mix Engineers with over 30 years of audio mixing/mastering experience </p>
        <p class=""><a href="#/info/engineers" @*data-bind="click: test"*@
   class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
    <div class="metersright">
        <div class="meter meter1"></div>
        <div class="meter meter2"></div>
        <div class="meter meter3"></div>
        <div class="meter meter4"></div>
        <div class="meter meter5"></div>
        <div class="meter meter1"></div>
        <div class="meter meter2"></div>
        <div class="meter meter3"></div>
        <div class="meter meter4"></div>
        <div class="meter meter5"></div>
        <div class="meter meter1"></div>
        <div class="meter meter2"></div>
        <div class="meter meter3"></div>
        <div class="meter meter4"></div>
        <div class="meter meter5"></div>
    </div>

    <div id="prices" class="bigmessageleft">
        <img class="img-thumbnail col-lg-4 col-md-4 col-sm-6 " src="/images/$100-or-less.png" />
        <h1 class="col-lg-8">Best Prices Online!</h1>

        <div class="lead col-lg-8">Services priced for a variety of mixing needs including instrumentals, vocal only(with premixed stereo music track), and fully tracked out sessions from your DAW.</div>



        <div class="messageleftbtn lead col-lg-4"><a href="#/info/prices" class="btn btn-primary btn-lg">Learn more &raquo;</a></div>

    </div>

    <div class="metersleft">
        <div class="meter meter1"></div>
        <div class="meter meter2"></div>
        <div class="meter meter3"></div>
        <div class="meter meter4"></div>
        <div class="meter meter5"></div>
        <div class="meter meter1"></div>
        <div class="meter meter2"></div>
        <div class="meter meter3"></div>
        <div class="meter meter4"></div>
        <div class="meter meter5"></div>
        <div class="meter meter1"></div>
        <div class="meter meter2"></div>
        <div class="meter meter3"></div>
        <div class="meter meter4"></div>
        <div class="meter meter5"></div>
    </div>

    <div id="easy" class="bigmessage">
        <img class="img-thumbnail col-lg-4 col-md-4 col-sm-6 " src="/images/use_any_daw.png" />
        <h1>Easy To Work With!</h1>
        <p class="lead col-lg-8">
            Pro tools, Cubase, Nuendo, Cakewalk and FL Studio users can send raw session/sequence files (No need to consolidate/bounce individual tracks, we wil do it for you!).<br /><sub>* Logic sessions not supported yet and will need to be consolidated by the User.</sub>

        </p>
        <p class=""><a href="#/info/easy" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="metersright">
        <div class="meter meter1"></div>
        <div class="meter meter2"></div>
        <div class="meter meter3"></div>
        <div class="meter meter4"></div>
        <div class="meter meter5"></div>
        <div class="meter meter1"></div>
        <div class="meter meter2"></div>
        <div class="meter meter3"></div>
        <div class="meter meter4"></div>
        <div class="meter meter5"></div>
        <div class="meter meter1"></div>
        <div class="meter meter2"></div>
        <div class="meter meter3"></div>
        <div class="meter meter4"></div>
        <div class="meter meter5"></div>
    </div>
    <div id="clubmaster" class="bigmessageleft">
        <img class="img-thumbnail col-lg-4 col-md-4 col-sm-6 " src="/images/VU-Meter-Croped-1024x311.png" />
        <h1 class="col-lg-8">Club Masters and Street Mixes</h1>

        <div class="lead col-lg-8">Special expertise in mixing bass driven pounding tracks characteristic of hip hop and electronic music. </div>



        <div class="messageleftbtn lead col-lg-4"><a href="#/info/clubmaster" class="btn btn-primary btn-lg">Learn more &raquo;</a></div>

    </div>
    <div class="metersleft">
        <div class="meter meter1"></div>
        <div class="meter meter2"></div>
        <div class="meter meter3"></div>
        <div class="meter meter4"></div>
        <div class="meter meter5"></div>
        <div class="meter meter1"></div>
        <div class="meter meter2"></div>
        <div class="meter meter3"></div>
        <div class="meter meter4"></div>
        <div class="meter meter5"></div>
        <div class="meter meter1"></div>
        <div class="meter meter2"></div>
        <div class="meter meter3"></div>
        <div class="meter meter4"></div>
        <div class="meter meter5"></div>
    </div>
    <div id="fastservice" class="bigmessage">
        <img class="img-thumbnail col-lg-4 col-md-4 col-sm-6 " src="/images/fast_turnaraoun.png" />
        <h1>Quality Mixes, Fast Service!</h1>
        <p class="lead col-lg-8">
            We know time is money. Thats why our turnaround time is less than 48 hours after acceptance in most cases.

        </p>
        <p class=""><a href="#/info/fastservice" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="metersright">
        <div class="meter meter1"></div>
        <div class="meter meter2"></div>
        <div class="meter meter3"></div>
        <div class="meter meter4"></div>
        <div class="meter meter5"></div>
        <div class="meter meter1"></div>
        <div class="meter meter2"></div>
        <div class="meter meter3"></div>
        <div class="meter meter4"></div>
        <div class="meter meter5"></div>
        <div class="meter meter1"></div>
        <div class="meter meter2"></div>
        <div class="meter meter3"></div>
        <div class="meter meter4"></div>
        <div class="meter meter5"></div>
    </div>
    @*<div id="listen" class="bigmessageleft">
        <img class="img-thumbnail col-lg-4 col-md-4 col-sm-6 " src="/images/VU-Meter-Croped-1024x311.png" />
        <h1 class="col-lg-8">Check out our work!</h1>

        <div class="lead col-lg-8">Listen to before and after mixes from our archive of satisfied clients. </div>



        <div class="messageleftbtn lead col-lg-4"><a href="#/info/listen" class="btn btn-primary btn-lg">Listen now! &raquo;</a></div>

    </div>
    <div class="metersleft">
        <div class="meter meter1"></div>
        <div class="meter meter2"></div>
        <div class="meter meter3"></div>
        <div class="meter meter4"></div>
        <div class="meter meter5"></div>
        <div class="meter meter1"></div>
        <div class="meter meter2"></div>
        <div class="meter meter3"></div>
        <div class="meter meter4"></div>
        <div class="meter meter5"></div>
        <div class="meter meter1"></div>
        <div class="meter meter2"></div>
        <div class="meter meter3"></div>
        <div class="meter meter4"></div>
        <div class="meter meter5"></div>
    </div>*@
    <div id="obligations" class="bigmessage">
        <img class="img-thumbnail col-lg-4 col-md-4 col-sm-6 " src="/images/no-commitments-obligations.png"  />
        <h1>Absolutely No Commitment!</h1>
        <p class="lead col-lg-8">
            If you don't like the mix, you don't pay - No questions asked!

        </p>
        <p class=""><a href="#/info/obligations" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
</div>

<!-- /ko -->
